@page "/circuit-designer"
@using QuBoxEngine.Circuits
@using System.IO
@using System.Text
@implements IDisposable
@inject StateContainer StateContainer
@inject IJSRuntime JsRuntime

<PageTitle>Circuit Sandbox</PageTitle>

<div style="min-height: 200px; overflow: hidden">
    <div style="float: left; width: 40%; text-align: center; color: rgb(250,231,198);
        align-content: center; background: rgb(30,37,75);">
        <h1>Circuit</h1>
        <div class="info-body">
            <h1 @onmouseover="@UpdateCircuit">Hover to update circuit!</h1>
            <p>@StateContainer.PrintState()</p>
        </div>
        <blockquote>If representations match, event callback works!</blockquote>
        
        @{
            if (!Error.Equals(AST.Error.Success))
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-alert" aria-hidden="true">
                        <b>Invalid! There's been an error detected in the code:</b> @Error.ToString()
                    </span>
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true">
                        <b>Successful!</b> The QuLang definition is syntactically and semantically correct.
                    </span>
                </div>
            }
        }
        <div style="position: relative; min-height: 130px; width: 100%;">
            <button class="download-button" @onclick="@DownloadFile">Download Q# code</button>
        </div>
        
        @{
            if (_circuit == null)
            {
                <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span style="border-radius: 2px" class="glyphicon glyphicon-remove" aria-hidden="true">&times;</span></button>
                  <strong>Warning!</strong> You cannot download an undefined circuit.
                </div>
            }
        }
        
    </div>
    <div style="float: right; width: 60%;">
        <QuLangEditor @bind-CodeContent="Content"></QuLangEditor>
    </div>
    
</div>

<SchemaVisual Circuit="@_circuit"></SchemaVisual>


@code {
    
    /// <summary>
    /// Saved reference to the circuit object built on the platform
    /// </summary>
    private Circuit? _circuit { get; set; }
    
    /// <summary>
    /// Saved reference of the error tag during processing
    /// </summary>
    private AST.Error Error { get; set; } = AST.Error.Success;
    
    
    /// <summary>
    /// Upon initialization, subscribe to the state container
    /// </summary>
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    /// <summary>
    /// Mouse hovering binding function to update the circuit object
    /// </summary>
    private async void UpdateCircuit(MouseEventArgs e)
    {
        Interpreter.HandleLang(Content);
        Console.WriteLine(Content);
        var circuit = Interpreter.Interpret();
        Error = Interpreter.Error;
        if (circuit == null)
        {
            Console.WriteLine("Circuit is still missing!");
            return;
        }
        await Task.Delay(300);
        _circuit = circuit;
        StateContainer.Property = _circuit;
    }
    
    /// <summary>
    /// Unsubscribe from the state container when the component is disposed
    /// </summary>
    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
    
    private string Content { get; set; } = "...Try typing something in the editor or switch focus...";

    /// <summary>
    /// Function to obtain a stream of data containing the translated Q# code
    /// </summary>
    private Stream GetStreamData()
    {   
        Interpreter.DecomposeCircuit(_circuit);
        var translated = Interpreter.TranslateQs();

        var fileStream = new MemoryStream(Encoding.UTF8.GetBytes(translated));
        return fileStream;
    }
    
    /// <summary>
    /// Function to trigger the download the Q# code as a file, by invoking a JS function
    /// </summary>
    private async Task DownloadFile()
    {
        if (_circuit == null) return;
        var stream = GetStreamData();
        var fileName = "circuit.qs";
        
        using var streamRef = new DotNetStreamReference(stream);
        await JsRuntime.InvokeVoidAsync("downloadFile", fileName, streamRef);
    }
    
}